.left,
.right {
  background: white;
  height: 800px;
  padding: 10px;
}

.center {
  width: 30px;
  background-color: rgb(240, 240, 240);
  height: 800px;
  text-align: center;
  color: white;
}

.center-button {
  margin-top: 390px;
  color: black;
  height: 30px;
}
