.left,
.right {
  background: white;
  height: 800px;
  padding: 10px;
}

.center {
  width: 30px;
  background-color: rgb(240, 240, 240);
  height: 800px;
  text-align: center;
  color: white;
}

.center-button {
  margin-top: 390px;
  color: black;
  height: 30px;
}

.dictlist {
  margin-top: 10px;
}

.dictDataOperation{
  Button{
    margin-right: 10px;
  }
}

Button{
  color:red
}

.ivu-table .demo-table-info-column{
  background-color: #2db7f5;
  color: #fff;
}